{{define "home"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>
<div class="Header">


    <img id="LogoPicture" src="/static/img/logo.png">


    <form id="ButtonSearch" action="/search" method="GET">
        <label  for="searchInput"></label>
        <input type="text" id="searchInput" name="q" placeholder="Topic...">
    </form>

    <button id="ButtonLogin" onclick="window.location.href='/login'">Connexion</button>
    <button id="ButtonRegister" onclick="window.location.href='/register'">Inscription</button>

    <button class="Category1" onclick="window.location.href='/category1'">Category1</button>
    <button class="Category2" onclick="window.location.href='/category2'">Category2</button>
    <button class="Category3" onclick="window.location.href='/category3'">Category3</button>


</div>

</body>
</html>
{{end}}
