:root {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 98%);
    --border: hsl(0, 0%, 86%);
    --koko-color: hsla(144, 63%, 40%, 0.84);
    --koko-hover: hsla(0, 98%, 55%, 0.84);
    --story-border: hsl(0, 0%, 78%);
    --img-border: hsla(0, 0%, 0%, 0.1);
    --text-dark: hsl(0, 4%, 5%);
    --text-light: hsl(0, 0%, 60%);
    --like: hsl(355, 82%, 61%);
    --link: hsl(204, 100%, 48%);
    --header-height: 70px;
    --nav-height: 44px;
}

:root.darkTheme {
    --primary: hsl(0, 0%, 0%);
    --secondary: hsl(0, 0%, 2%);
    --border: hsl(0, 0%, 15%);
    --koko-color: hsla(177, 64%, 39%, 0.84);
    --koko-hover: hsla(238, 39%, 33%, 0.84);
    --story-border: hsl(0, 0%, 44%);
    --img-border: hsla(0, 0%, 100%, 0.1);
    --text-dark: hsl(0, 0%, 98%);
    --text-light: hsl(0, 0%, 60%);
}

body {
    background-color: var(--primary);
}

main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.contains_information {
    display: flex;
    flex-direction: column;
}

.profil_informations {
    position: fixed;
    display: flex;
    gap: 20px;
    width: 60%;
    overflow: auto;
    z-index: 22;
    height: 180px;
    background-color: var(--primary);
    color: var(--text-dark);
    border-bottom: 1px dashed black;
}

.profil_informations {
    display: flex;
    justify-content: space-around;
}

.picture {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil_informations__picture {
    width: 120px;
    height: 120px;
    margin: 0px 5px;
    border-radius: 50%;
    overflow: hidden;
}

.profil_informations__picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profil_informations__text {
    display: flex;
    gap: 20px;
    width: 700px;
}

.profil_user {
    display: flex;
    align-items: center;
    width: 250px;
}

.profil_user__name {
    font-weight: 900;
    width: 100%;
}

.profil_publication__text {
}

.profil_publication__number {
}

.profil_followers, .profil_publication, .profil_following {
    display: flex;
    margin: 20px 0px;
    justify-content: space-around;
    width: 150px;
    height: 35px;
    padding: 5px 10px;
    font-weight: 500;
    background-color: var(--story-border);
    border-radius: 20px;
}

.profil_followers__text {
}

.profil_followers__number {
}

.profil_following__text {
}

.profil_following__number {
}

.profil_informations__text__description {
}

.content-container {
    margin-top: 170px !important;
}

.side-menu {
    width: 40%;
}

@media screen and (max-width: 1023.2px) {
    .profil_informations {
        width: 100%;
        height: 200px;
    }

    .side-menu {
    }
}

@media screen and (min-width: 1023.2px) {
    .profil_informations {
        padding: 10px 0;
        width: 90%;
        height: 180px;
    }

    .side-menu {
        margin-top: 150px;
    }
}
